body {
    background-color:black;
    font-family:Arial;
    style:white;
    }
h1{
    style:gray;
    font-family:Verdana;
    color:gray
    }


div.maindiv{
    background-color:white;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
    margin: 0px auto;
}
